.customize-table {
    text-align: center;
    --easy-table-header-font-size: 14px;
    --easy-table-header-height: 50px;
    --easy-table-header-item-padding: px 7px;
    --easy-table-body-row-height: 50px;
    --easy-table-body-row-font-size: 14px;
    --easy-table-body-item-padding: 10px 5px;
    --easy-table-footer-font-size: 14px;
    --easy-table-footer-padding: 0px 0px;
    --easy-table-footer-height: 50px;
    --easy-table-rows-per-page-selector-width: 70px;
    --easy-table-rows-per-page-selector-option-padding: 10px;
    --easy-table-rows-per-page-selector-z-index: 1;
    --easy-table-header-font-color: #e1e1e1;
    --easy-table-header-background-color: #055bbb;
}

body,
.body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ol,
ul,
li,
strike,
strong,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
menu,
nav,
section,
summary,
small,
.form-control,
.btn,
input {
    font-family: 'Vazirmatn FD', sans-serif;
}

div:where(.swal2-container) div:where(.swal2-actions):not(.swal2-loading) .swal2-styled,
div:where(.swal2-container) div:where(.swal2-actions):not(.swal2-loading) .swal2-styled {
    color: white;
}

.swal2-container {
    z-index: 20000 !important;
}